// style header
.header {
    table tr td {
        font-size: 12px;
    }
}
// style footer
.footer {
    border-bottom: 6px solid red;
    .table_signature {
        thead {
            background-color: black;
            color: white;
        }
        tbody {
            background-color: silver;
        }
    }
}
// style Billing
.billing_form {
    .table_company {
        border-top: 6px solid red;
        border-bottom: 6px solid red;
    }
    .table_company_data {
        thead {
            background-color: black;
            color: white;
        }
    }
    .table_data {
        thead {
            background-color: black;
            color: white;
        }
        tbody tr {
            border-bottom: 1px solid lightgray;
        }
    }
    .horizontal_line {
        border-bottom:1px solid black;
    }
    .horizontal_double_line {
        border-bottom: double;
    }
}
// style Credit Note
.credit_note_tax_invoice_form {
    .table_company {
        border-top: 6px solid red;
        border-bottom: 6px solid red;
    }
    .table_company_data {
        thead {
            background-color: black;
            color: white;
        }
    }
    .table_data {
        font-size: 14px;
        thead {
            background-color: black;
            color: white;
        }
        tbody tr {
            border-bottom: 1px solid lightgray;
        }
    }
    .horizontal_line {
        border-bottom:1px solid black;
    }
    .horizontal_double_line {
        border-bottom: double;
    }
}
// style Delivery Order
.delivery_order_form {
    .table_company {
        border-top: 6px solid red;
        border-bottom: 6px solid red;
    }
    .table_company_data {
        thead {
            background-color: black;
            color: white;
        }
    }
    .table_data {
        font-size: 14px;
        thead {
            background-color: black;
            color: white;
        }
        tbody tr {
            border-bottom: 1px solid lightgray;
        }
    }
    .horizontal_line {
        border-bottom:1px solid black;
    }
    .horizontal_double_line {
        border-bottom: double;
    }
}
// style Delivery Order / Tax Invoice
.delivery_order_tax_invoice_form {
    .table_company {
        border-top: 6px solid red;
        border-bottom: 6px solid red;
    }
    .table_company_data {
        thead {
            background-color: black;
            color: white;
        }
    }
    .table_data {
        font-size: 14px;
        thead {
            background-color: black;
            color: white;
        }
        tbody tr {
            border-bottom: 1px solid lightgray;
        }
    }
    .horizontal_line {
        border-bottom:1px solid black;
    }
    .horizontal_double_line {
        border-bottom: double;
    }
}
// style Receipt
.receipt_form {
    .table_company {
        border-top: 6px solid red;
        border-bottom: 6px solid red;
    }
    .table_company_data {
        thead {
            background-color: black;
            color: white;
        }
    }
    .table_data {
        thead {
            background-color: black;
            color: white;
        }
        tbody tr {
            border-bottom: 1px solid lightgray;
        }
    }
    .horizontal_line {
        border-bottom:1px solid black;
    }
    .horizontal_double_line {
        border-bottom: double;
    }
}
