// style header
.header {
    table tr td {
        font-size: 12px;
    }
}

// style footer
.footer {
    border-bottom: 6px solid red;
    .table_signature_box {
        thead {
            background-color: black;
            color: white;
        }
        tbody {
            background-color: silver;
        }
    }
    .table_customer {
        thead {
            background-color: red;
            color: white;
        }
        tbody {
            background-color: silver;
        }
    }
}
// style quotation
.quotation_form {
    .table_company {
        border-top: 6px solid red;
        border-bottom: 6px solid red;
    }
    .table_company_data {
        thead {
            background-color: black;
            color: white;
        }
    }
    .table_data {
        thead {
            background-color: black;
            color: white;
        }
        tbody {
            border-bottom: 1px solid lightgray;
        }
    }
    .horizontal_line {
        border-bottom: 1px solid black;
    }
    .horizontal_double_line {
        border-bottom: double;
    }
}
