// style header
.header {
    table tr td {
        font-size: 12px;
    }
}

// style footer
.footer {
    border-bottom: 6px solid red;
    .table_note {
        thead {
            background-color: black;
            color: white;
        }
        tbody {
            background-color: silver;
        }
    }
    .table_approve {
        thead {
            background-color: red;
            color: white;
        }
        tbody {
            background-color: silver;
        }
    }
}

// style purchase order
.purchase_order_form {
    // style body
    .table_company {
        border-top: 6px solid red;
        border-bottom: 6px solid red;
    }
    .topic {
        background-color: black;
        color: white;
    }
    .content {
        background-color: silver;
    }
    .table_company_data {
        thead {
            background-color: black;
            color: white;
        }
        tbody {
            background-color: silver;
        }
    }
    .table_data {
        thead {
            background-color: black;
            color: white;
        }
        tbody {
            border-bottom: 1px solid lightgray;
        }
    }
    .horizontal_line {
        border-bottom: 1px solid black;
    }
    .horizontal_double_line {
        border-bottom: double;
    }
    .horizontal_dot_line {
        border-bottom: 1px dotted black;
    }
}
